.sticker {
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 15%;
}

.sticker.green {
  background-color: #00380a;
}

.sticker.gold {
  background-color: #ffdd00;
}

.sticker.orange {
  background-color: #ff571f;
}

.sticker.purple {
  background-color: #773dbc;
}

.sticker.apartments {
  background-image: repeating-linear-gradient(45deg, #cc292b, #cc292b 5px, #FFFFFF 5px, #FFFFFF 10px);
}

.sticker.commons {
  background-color: #cc292b;
}

.sticker.handicap {
  background-color: #00a1de;
}

.sticker.none {
  background-color: #a6a6a6;
}

.select {
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px #555555;
}
.select .list {
  height: auto;
  max-height: 330px;
  overflow: hidden;
  transition: max-height 1s;
  margin: 0 0 1px 0;
  padding: 0;
  border-radius: 2px;
  border: none;
  height: auto;
  box-sizing: border-box;
  width: auto;
  text-align: center;
}
.select .list ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  width: 100%;
  margin: 0;
}
.select .list.hidden {
  max-height: 0;
  transition: max-height 1s;
}
.select .list li {
  font-weight: bold;
  height: 32px;
  text-align: center;
}
.select .list li:hover {
  background-color: #b3b3b3;
  transition: background-color 0.2s;
}
.select label {
  font-size: 0.5em;
  padding: 0 3px 0 3px;
}
.select .list li, .select .current {
  background-color: #FFFFFF;
  transition: background-color 0.5s;
  width: 100%;
  padding: 2px 0px 2px 0px;
}
.select .current {
  display: inline-block;
  text-align: center;
}
.select .current:hover {
  background-color: #b3b3b3;
  transition: background-color 0.2s;
}

html, body, #mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#mapOverlay {
  position: fixed;
  top: 10px;
  left: 60px;
  background-color: #FFFFFF;
  border-radius: 2px;
  padding: 5px;
  box-shadow: 0 1px 2px #555555;
  font-family: sans-serif;
  height: 62px;
}
